<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/images/logo.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">  
    Dark Shadow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/todo">TO-DO</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/accounts">Accounts</a>
      </li>
    </ul>
    <ul class="nav navbar-nav my-2 my-lg-0">
      <ng-template [ngIf] = "!auth.isAuthenticated()">
        <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" 
                type="button" routerLink="/register">Register</button>
        
        <button class="btn btn-outline-success my-2 my-sm-0 ml-2"
                type="button" routerLink="/login">Login</button>
      </ng-template>
      <form class="form-inline my-2 my-lg-0" *ngIf = "auth.isAuthenticated()">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
      </form>
      <button class="btn btn-outline-danger my-2 my-sm-0 ml-2" routerLink="/home" type="button" (click)="onLogout()" *ngIf="auth.isAuthenticated()">Logout</button>
    </ul>

  </div>
</nav>